{# Tasks dashboard containing two tables with user tasks #}

{% extends "layout.html" %}

{% from "macro_render_tasks_table.html" import macro_render_tasks_table %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 mt-4">
                {# render table with tasks assigned to the user #}
                {{ macro_render_tasks_table("Assigned to me", user_tasks_join_lookup, show_assignee=False) }}
            </div>
            <div class="col-lg-6 mt-4">
                {# render table with tasks assigned by the user #}
                {{ macro_render_tasks_table("Assigned by me", assigned_by_user_tasks_join_lookup, show_assigner=False) }}
            </div>
        </div>
    </div>
{% endblock %}
